{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["flowtype", "react"],
  "rules": {
    "max-len": [1, { "code": 120 }],
    "object-curly-newline": 0,
    "no-console": [1, { "allow": ["error"] }],
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["airbnb", "plugin:flowtype/recommended", "plugin:react/recommended"]
}
