{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["flowtype", "react"],
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["airbnb", "plugin:flowtype/recommended", "plugin:react/recommended"]
}
